.phrase{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.phrase__container{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.25) 100%);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: all .3s ease-in-out;

}
.btn__reload{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;   
    font-size: 1.25rem; 
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    box-shadow: 0 0 5px 5px #fff;
}

.btn__reload:hover{
    background-color: #525151;
    color: #aaa6a6;
    box-shadow: 0 0 5px 5px #525151;
}

@media (max-width: 375px) {
    .phrase__container{
        padding: 0.8rem;
    }
}

