.title__container{
    position: relative;
    top: 50px;
    color: white;
    transition: all .3s ease-in-out;
}

@media (max-height: 515px) {
    .title__container{
        top: 10px;
    } 
}

@media (max-width: 375px) {
    .title__container{
        top: 10px;
    }
}
